@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../imagenes/AnuelFondofijo.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}


.content-1{
    width: 100%;
    background: white;
    padding: 50px;
    margin-top: 50vh;
}

.content-1 h1{
    text-align: center;
}

.content-icon-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.content-icon{
    width: 200px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    margin-top: 40px;
}


.content-icon:hover{
    -webkit-box-shadow: 0px 10px 40px -5px black;
    box-shadow: 0px 10px 40px -5px black;
}
.content-icon img{
    width: 150px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 40px -10px black;
    box-shadow: 0px 0px 40px -10px black;
}

.content-icon h4{
    margin-top: 10px;
}

.content-icon p{
    margin-top: 10px;
}

hr{
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 100%;
    margin-top: 40px;
}

.parrafo1{
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
    font-size: 20px;
    
}



/*Content-3*/

.content-3{
    width: 100%;
    height: 50vh;
    margin-top: 100px;
}
