@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color:#000;
  color:#333;
  font: normal 14px "Open Sans", sans-serif;
  margin:0;
}

h1,h2,h3,p,li {
  text-align:left;	
}

a {
  background-color:inherit;
  color:#333;
  text-decoration:none; 
}

a:hover {
  text-decoration:underline; 
}	

blockquote {
font: italic 18px "Times New Roman",serif;
width: 70%;
margin: 5px auto;
padding: 10px 50px;
position: relative;
color: #690;
}

blockquote:before {
display: block;
content: "\201c";
font: bold 120px "Times New Roman", serif;
position: absolute;
left: -20px;
top: -10px;
color: #690;
}

#pseudo-wrap1 {
background: #80bc00;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bc00', endColorstr='#8fc800',GradientType=0 );
height: 195px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:15px; left:0; right:0;
}


#wrap {
  width:80%;
  background-color:#fff;
  color:inherit;
  padding:0;
  margin:30px auto 15px auto; 
}

#header {
  background: #7fb50c;
  color:#fff;
  height:200px;
  -webkit-box-shadow: 0px 40px 20px -15px #C4D9A3;
  -moz-box-shadow: 0px 40px 20px -15px #c4d9a3;
  box-shadow: 0px 40px 20px -15px #c4d9a3;
  border:10px solid #fff;
  border-bottom:1px solid #fff;
}

#header h1 {	
  text-align:center;
  padding:0;
  margin:80px auto 0 auto; 
}

#header a
{	background-color:inherit;
	color:#fff;
	text-decoration:none; }
	
#header p
{	text-align:center;
	margin:0 auto; }
	
/* Content */
#content
{	text-align:left;
	width:90%;
	padding:0 25px 10px 25px;
	margin:0 auto;	}
	
#content h2
{	
	padding:0;
	margin:0 auto; }	

#content h3
{	background-color:inherit;
	color:#690;
	font:bold 12pt Arial,sans-serif;	
	padding:0;	}

#content p a
{	background-color:inherit;
	color:#690;
	text-decoration:underline;	} 	
	
#content p
{	text-align:justify;
	line-height:24px; }

#content p.center { text-align: center; }
	
#content li
{	line-height:24px;	}

#content li a
{	background-color:inherit;
	color:#690;
	text-decoration:none;	}

#content li a:hover
{	text-decoration:underline; }

#content ul {
  list-style:none;
  padding:0;
}
	
#content ul li
{	list-style-position:inside;
    text-indent: 0px;
	padding-left:20px;
	margin:0; }	
	
#content ul li:before {
  content: "\27a1 \00a0 \00a0";
  background-color:inherit;
  color:#690;
  font-size:16px;
}

#content .post
{	padding:0 0 20px 0;
	margin:auto;	}

#content img.photo
{
   display: block;
   height:480x;
   width: 720px;
   margin-left: auto;
   margin-right: auto;}


#attribution {	
  background-color:inherit;
  color:#568e07;
  text-align:center;
  font-size:11px;
  padding:5px 0;
  margin:0 auto;	
}

#attribution a
{	background-color:inherit;
	color:#568e07;
	text-decoration:none;	}
	
#attribution a:hover
{	color:#999;	}

